<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
  </head>
  <body>
    <div style="font-size: 30px; font-weight: 400">
      This is coming from the Footer
    </div>
  </body>
</html>
